{% extends 'base.html' %}

{% block content %}
<center>
    <h2>Archwium partii nr {{ idpartii }} </h2> 
    <form action="/szachy/archiwum/{{idpartii}}/0" method="post">
        {% csrf_token %}
        {{ partie }}  
        <input type="submit" value="Wybierz">
    </form>
    

</center>
            <div class="container">

    <div class="row">
        <div class="6u">
            <center>
<br><br><br>

            <!-- start example HTML --->
            <script src="http://chessboardjs.com/js/chess.js"></script>
            <div id="board" style="width: 500px"></div>
            <br>
            <input type="submit" value="<<" id="Start"><input type="submit" value="<" id="moveBack"> <input type="submit" id="moveTo" value=">"><input type="submit" value=">>" id="End">
            <!-- end example HTML --->
            <script>
            var moves_from =[];
            var moves_to = [];
            var fen = [];
            {% if latest_ruchy_list %}

            {% for ruchy in latest_ruchy_list  %}
                    moves_from.push('{{ruchy.RUCH_Z}}');
                    moves_to.push('{{ruchy.RUCH_DO}}');
                    fen.push('{{ruchy.FEN}}');
            {% endfor %}

            {% else %}
            {% endif %}            
            
//var moves_from = ['e2','d2','g8'];
//var moves_to = ['e4','d4','f6']
var i =-1;
var board = new ChessBoard('board', 'start');
var koniec = fen.length;

$('#moveTo').on('click', function() {

  i++;
  if(i>=fen.length) {i=fen.length-1};
  board.position(fen[i]);
    console.log(i);
 
 
});

$('#Start').on('click', function() {

board.start();
 i=-1;
 
});

$('#End').on('click', function() {

board.position(fen[koniec-1]);
 i=koniec-1;
 
});

$('#moveBack').on('click', function() {

i--;
    if (i<=0) {i=0;} 
    if(i==-1) {board.start()}
    else board.position(fen[i]);
      console.log(i);
        

    

});
            </script>                   
        </center>
        </div>

        <div class="6u">
            <center>
<br><br><br>
            {% if latest_ruchy_list %}
            <table>
                <tr>
                    <td width="100px" height="50px">NR_RUCHU</td> <td width="100px" height="50px">RUCH_Z</td><td width="100px" height="50px">RUCH_NA</td>
                </tr>
            {% for ruchy in latest_ruchy_list  %}
                <tr>
                    <td height="20px">{{ruchy.NR_RUCHU}}</td><td>{{ruchy.RUCH_Z}}</td><td>{{ruchy.RUCH_DO}}</td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
                <p>Partia nie zostala rozegrana</p>
            {% endif %}
            </center>
    
    </div>
    </div>
</div>
{% endblock content %}
