<!DOCTYPE HTML>
<!--
    Autonomy by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

{% load staticfiles %}

<html>
    <head>
        <title>Edytor Partii Szachowej</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <script src="{% static 'js/skel.min.js'%}"></script>
        <script src="{% static 'js/skel-panels.min.js'%}"></script>
        <script src="{% static 'js/init.js'%}"></script>
        <script src="{% static 'js/json3.min.js' %}"></script>
        <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
        <script src="{% static 'js/chessboard.js'%}"></script>
        <script src="{% static 'js/chess.js'%}"></script>
        <link rel="stylesheet" href="{% static 'css/chessboard.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" /> 
        <link rel="stylesheet"  href="{% static 'css/style.css'%}" />
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{% url 'chessboard.szachy.views.start'%}"><img src="{% static 'img/knight2.svg' %}" height="28px" width="28px" ></a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'chessboard.szachy.views.index' 0 %}">Partia</a></li>
                            <li><a href="{% url 'chessboard.szachy.views.gracze' %}">Gracze</a></li>
                            <li><a href="{% url 'chessboard.szachy.views.wyniki' %}">Wyniki</a></li>
                            <li><a href="{% url 'chessboard.szachy.views.archiwum' 0 0 %}">Archiwum</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div id="featured">
        {% block content %}
        {% endblock %}
        </div>

    </body>
</html>
