{% extends 'base.html' %}

{% block content %}
<center>
<form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Dodaj" />
    {{ sur }}
</form>
<form action="" method="post">
    {% csrf_token %}
    {{list}} 
    <input type="submit" value="Usun">
</form>
</center>

<center>
    <header>
        <h2>Lista zawodników</h2>
    </header>
    {% if latest_gracze_list %}
    <table>
        <tr>
            <td width="50px" height="50px">ID</td> <td width="100px" height="50px">NAZWISKO</td> <td width="100px" height="50px">IMIE</td>
        </tr>
        {% for gracze in latest_gracze_list  %}
        <tr>
            <td  height="20px">{{ gracze.ID_ZAWODNIKA }}</td> <td>{{ gracze.NAZWISKO }}</td> <td>{{gracze.IMIE}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Brak zawodników</p>
    {% endif %}
</center>

{% endblock content %}
