{% extends 'base.html' %}

{% block content %}
<center>
<form action="" method="post">
    {{list}}
    <input type="submit" value="Dodaj">
</form>
    <form action="/szachy/{{idpartii}}/" method="post">
        {{ partie }}
        <input type="submit" value="Wybierz">
    </form>

</center>
			<div class="container">
				<div class="row">
					<div class="6u">
<center>
<br><br><br>    					
<!-- start example HTML -->
<div id="board" style="width: 500px"></div>

<!-- end example HTML -->


<script>
var move_from = [];
var move_to = [];
var bierek = [];
var i=0;
var fenTab = [];
var winner = [];

var moves_from =[];
var moves_to = [];
var fen = [];
{% if latest_ruchy_list %}
{% for ruchy in latest_ruchy_list  %}
    moves_from.push('{{ruchy.RUCH_Z}}');
    moves_to.push('{{ruchy.RUCH_DO}}');
    fen.push('{{ruchy.FEN}}');
{% endfor %}
{% else %}
{% endif %} 

function post(path, params, method) {
path='/szachy/{{idpartii}}/'
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
  var move_from_str = JSON.stringify(move_from);
var move_to_str = JSON.stringify(move_to);
var bierek_str = JSON.stringify(bierek);
var fen_str = JSON.stringify(fenTab);
var winner_str = JSON.stringify(winner)

var params = { mvfrm: move_from_str, mvto:move_to_str,brk:bierek_str,fn:fen_str,win:winner_str}

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}

var init = function() {

var moves_from =[];
var moves_to = [];
var fen = [];
{% if latest_ruchy_list %}
{% for ruchy in latest_ruchy_list  %}
    moves_from.push('{{ruchy.RUCH_Z}}');
    moves_to.push('{{ruchy.RUCH_DO}}');
    fen.push('{{ruchy.FEN}}');
{% endfor %}
{% else %}
{% endif %} 

//--- start example JS ---
var board,
  game = new Chess(),
  statusEl = $('#status'),
  fenEl = $('#fen'),
  pgnEl = $('#pgn');

var removeGreySquares = function() {
  $('#board .square-55d63').css('background', '');
};

var greySquare = function(square) {
  var squareEl = $('#board .square-' + square);
  
  var background = '#62d186';
  if (squareEl.hasClass('black-3c85d') === true) {
    background = '#48b76c';
  }

  squareEl.css('background', background);
};

var onDragStart = function(source, piece) {

  // do not pick up pieces if the game is over
  // or if it's not that side's turn
  if (game.game_over() === true ||
      (game.turn() === 'w' && piece.search(/^b/) !== -1) ||
      (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
    return false;
  }
    console.log(game.fen());

};

var onDrop = function(source, target, piece) {
  removeGreySquares();

  // see if the move is legal
  var move = game.move({
    from: source,
    to: target,
    promotion: 'q' // NOTE: always promote to a queen for example simplicity
  });

  // illegal move
  if (move === null) return 'snapback';
  updateStatus();
  move_from.push(source);
  move_to.push(target);
  bierek.push(piece[1]);
  fenEl.html(bierek[i]+'  '+move_from[i]+'-'+move_to[i]);
  fenTab.push(game.fen());
  pgnEl.html(game.fen());
console.log(game.fen());
  i++;
};

var onMouseoverSquare = function(square, piece) {
  // get list of possible moves for this square
  var moves = game.moves({
    square: square,
    verbose: true
  });

  // exit if there are no moves available for this square
  if (moves.length === 0) return;

  // highlight the square they moused over
  greySquare(square);

  // highlight the possible squares for this piece
  for (var i = 0; i < moves.length; i++) {
    greySquare(moves[i].to);
  }
};

var onMouseoutSquare = function(square, piece) {
  removeGreySquares();
};

var onSnapEnd = function() {
  board.position(game.fen());
};

var updateStatus = function() {
  var status = '';

  var moveColor = 'Bialy';
  if (game.turn() === 'b') {
    moveColor = 'Czarny';
  }

  // checkmate?
  if (game.in_checkmate() === true) {
    status = 'Koniec gry, ' + moveColor + ' jest w szach mat.';
    if (moveColor='Bialy')
    {
        winner.push("1-0");
    }
    else if(moveColor='Czarny') 
        winner.push("0-1");
    else
        winne.push("*");
  }

  // draw?
  else if (game.in_draw() === true) {
    status = 'Koniec gry, pozycja remisowa';
    winner.push("1-1");
  }

  // game still on
  else {
    status = moveColor + ' rusza sie';

    // check?
    if (game.in_check() === true) {
      status += ', ' + moveColor + ' jest w szachu';
      
    }
  }

  statusEl.html(status);

};



var cfg = {
  draggable: true,
  position: '{{lastFEN}}',
  onDragStart: onDragStart,
  onDrop: onDrop,
  onMouseoutSquare: onMouseoutSquare,
  onMouseoverSquare: onMouseoverSquare,
  onSnapEnd: onSnapEnd,

};
board = new ChessBoard('board', cfg);
game.load('{{lastFEN}}');
updateStatus();
//


//--- end example JS ---

}; // end init()
$(document).ready(init);
</script>
							
</center>
					</div>


					<div class="6u">	
	<br><br><br>
	   <table>
        <tr>
            <td width="300px" height="0px"></td> <td width="300px" height="0px"></td>
        </tr>
                    {% if partia %}

        <tr>
            <td  height="20px">Partia nr: {{ partia.0 }}</td>
        </tr>
        <tr>
            <td> Graja: {{ partia.1 }} vs </td><td>{{partia.2}}</td>
        </tr>
        {%else%}
            Wybierz partie znajdujaca sie w bazie danych
        {%endif%}
        
    </table>                            
						<p>Status: <span id="status"></span></p>
						            <br>

						<p>Aktualny ruch: <span id="fen"></span></p>
	<!--					<p>FEN: <span id="pgn"></span></p> --->
					</div>
<center>
                <form action="" method="post" onsubmit="post() ;return false;">
                        <input type="submit" value="Zapisz partie!">
                    </form>
    	</center>
    			</div>
				    
			</div>



		
		{% endblock content %}

