{% extends 'base.html' %}

{% block content %}

<center>
<header>
    <h2>Edytor Partii Szachowej</h2>
</header>

    <div class="container">
        <div class="row">
            <div class="11u">
                <center>
                    <!--Projekt powstał w jeden weekend jako zaliczenie kursy baz danych na Politechnice Wrocławskiej.-->
                    Na początek należy dodać zawodnika w zakładce Gracze. Następnie można rozegrać potyczkę w zakładce Partia.
                    Należy dodać potyczkę wybierająć zawodników i klikając Wybierz. Później wybiera się Partię z listy partii.
                    Po zakończonej grze należy kliknąć Zapisz partie!<br><br>
                    Repozytorium znajduje się <a href="https://bitbucket.org/lukych92/edytor-partii-szachowych">tutaj</a>.
                </center>
            </div>
        </div>
    </div>

</center>

{% endblock content %}

