{% extends 'base.html' %}

{% block content %}
<center>
    <header>
        <h2>Rozegrane partie</h2>
    </header>
        <form action="/szachy/wyniki/" method="post">
        {{ PartieList }}  
        <input type="submit" value="Usun">
    </form>
    {% if latest_wyniki_list %}
    <table>
        <tr>
            <td width="50px" height="50px">ID</td> <td width="200px" height="50px">BIAŁE</td> <td width="200px" height="50px">CZARNE</td>
            <td width="100px" height="50px">WYNIK</td>
        </tr>
        {% for gracze, biale, czarny in latest_wyniki_list  %}
        <tr>
            <td  height="20px">{{ gracze.ID_PARTII }}</td> <td>{{ biale }}</td> <td>{{czarny}}</td>
            <td>{{gracze.ZWYCIEZCA}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Brak rozegranych partii</p>
    {% endif %}
</center>

{% endblock content %}
