body {
	background-color: #F5E8F2;
	font-family: Helvetica;
	color: #4F4B4D;
}

.header {
	background-color: #FFFFFF;
	}
	
	
	/* navbar */
.navbar-default {
    background-color: #975152;
    border-color: #FFFFFF;
}
/* title */
.navbar-default .navbar-brand {
    color: #F5E8F2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #F5E8F2;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #F5E8F2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #F5E8F2;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #DED2DB;
    background-color: #975152;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #DED2DB;
    background-color: #975152;
}