body {
	background-color: #e9e9e9;
	font-family: Helvetica;
	color: #4F4B4D;
}

.header {
	background-color: #8b7d8e;
	}
	
	
	/* navbar */
.navbar-default {
    background-color: #8b7d8e;
    border-color: #FFFFFF;
}
/* title */
.navbar-default .navbar-brand {
    color: #e9e9e9;
	max-height: 50px;
    overflow: visible;
    padding-top: 10px;
    padding-bottom: 0px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #e9e9e9;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #e9e9e9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e9e9e9;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #DED2DB;
    background-color: #8b7d8e;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #DED2DB;
    background-color: #8b7d8e;
}

input[type="submit"]
{
  background: #8b7d8e;
  border-radius: 3px;
  font-family: Helvetica;
  color: #e9e9e9;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}